@use "../abstract/variables";


h1 {
  font-family: "Marcellus", serif;
  font-size: 48px;
  color: variables.$couleur-titre;
}

h2 {
  font-family: "Marcellus", serif;
  font-size: 32px;
  color: variables.$couleur-titre;
}

h3 {
  font-family: "Marcellus", serif;
  font-size: 24px;
  color: variables.$couleur-titre;
}

body {
  background-color: variables.$couleur-fond;
  color: variables.$couleur-texte;
  font-family: variables.$police-principale;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


small {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

