@use "../abstract/variables" as*;


h1 {
  font-family: "Marcellus", serif;
  font-size: 48px;
  color: $couleur-titre;
}

h2 {
  font-family: "Marcellus", serif;
  font-size: 32px;
  color: $couleur-titre;
}

h3 {
  font-family: "Marcellus", serif;
  font-size: 24px;
  color: $couleur-titre;
}


body {
  background-color: $couleur-fond;
  color: $couleur-texte;
  font-family: $police-principale;
  margin: 0 auto;
  padding: 0 auto;
  line-height: 1.6;
}

a {
  font-size: 18px;
}

p {
  font-size: 18px;
}

small {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/* Plus de débordement de mes champs */
* {
  box-sizing: border-box;
}
  


