@use "../abstract/variables";
  
@font-face {
  font-family: "Marcellus";
  src: url("../fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

