@use "../abstract/variables" as *;

.competences {
  text-align: center;

  .competences-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 34rem; 

    // Adaptation Tablette et mobile
    @media screen and (max-width: 1024px) {
      gap: 0; // corrige le passage des "compétences" en grande colonne à 1024px
    }    
    @media screen and (max-width: 768px) {
      flex-direction: column; // Les blocs passent en colonne
      align-items: center; // Centrage horizontal
      gap: 3rem;
    }
  }

  .competences-bloc {
    flex: 1; // L'élément avec flex: 1 occupera tout l'espace restant dans le conteneur après que les autres éléments aient été disposés.
    max-width: 400px; // Limite la largeur

    ul.liste-competences {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap; // retour à la ligne !
      justify-content: center;
      gap: 3rem;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100px; // Taille fixe pour régularité

        img {
          width: 60px;
          height: 60px;
          transition: transform 0.3s cubic-bezier(1, 0.56, 1, 1), filter 0.3s ease;

          &:hover {
            transform: scale(1.1); // Zoom doux
            filter: brightness(1.1) saturate(1.1); // Boost éclairsissement 
          }
        }

        p {
          margin: 0;
        }

        small {
          font-style: italic;
        }
      }
    }
    // Bloc vide en légère transparence
    &.vide {
      opacity: 0.5;
      font-style: italic;

      p {
        margin-top: 10rem; // Décalage pour équilibrer visuellement
      }
    }
  }
}
