@use "../abstract/variables" as *;
@use "sass:color";

.contact-container {
  display: flex;
  justify-content: space-around;
  padding: 3rem 4rem;
  margin-top: 4rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .form-contact {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    width: 100%;

    .form-group {
      position: relative;
      margin-bottom: 2.5rem; // ↑ Espace entre chaque champ
      width: 100%;

      label {
        position: absolute;
        top: -0.8rem;
        left: 1rem;
        padding: 0 0.5rem;
        background-color: $couleur-fond;
        color: $couleur-texte;
        font-size: 0.9rem;
        z-index: 1;
      }

      input,
      textarea {
        width: 100%;
        padding: 1rem;
        border: 2px solid color.scale($couleur-texte, $lightness: 40%);
        border-radius: 12px;
        background-color: $couleur-fond;
        color: $couleur-texte;
        font-size: 1rem;
        font-family: $police-principale;
        appearance: none;
        box-shadow: none;

        &::placeholder {
          color: color.scale($couleur-texte, $lightness: 50%);
        }

        &:focus {
          outline: none;
          border-color: $couleur-principale;
        }
      }

      textarea {
        resize: none;
      }
    }
  }
   // La formule magique pour que mon formulaire reste sobre dans un navigateur qui impose sa loi
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $couleur-fond inset !important; // recouvre le fond forçé par chrome avec MON fond
    -webkit-text-fill-color: $couleur-texte !important; // corrige la couleur du texte qui pourrais devenir grise par défault
  } // le !important écrase le style par défault du navigateur

  .contact-socials {
    flex: 1;
    max-width: 300px;
    padding-top: 10rem;
    text-align: center;

    p {
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-top: 10rem;

      a img {
        width: 60px;
        height: 60px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
