@use "../abstract/variables" as *;
@use "sass:color";

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: $couleur-fond;

  .logo {
    font-size: 32px;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      font-family: $police-principale;
      font-size: 18px;
      font-weight: 600;
      color: $couleur-texte;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: color.scale($couleur-texte, $lightness: 30%);
      }      
    }

  }

  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    nav ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
}
