@use "../abstract/variables" as*;

.hero {
    position: relative;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10vh;
    padding: 2rem;
  
    h1, p {
      margin: 0;
    }
  
    .hero-titres {
      display: flex;
      flex-direction: column;
    }
  
    .hero-textes p {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      color: $couleur-fond;
      font-size: 34px;
      letter-spacing: 1px;

      @media screen and (max-width: 360px) {
        font-size: 29px;
    }
  }
}
  