@use "../abstract/variables" as *;

.projets {
  padding: 6rem 2rem;
  background-color: $couleur-fond;
  color: $couleur-texte;
  text-align: center;

  h2 {
    font-family: $police-titres;
    font-size: 32px;
    margin-bottom: 4rem;
    color: $couleur-principale;
  }

  .projets-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap; // Permet un retour à la ligne fluide si nécessaire

    .projet {
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
      max-width: 320px;
      overflow: hidden;
      transition: transform 0.3s ease;
      text-align: left;

      &:hover {
        transform: translateY(-8px);
      }

      img {
        width: 100%;
      }

      h3 {
        font-family: $police-titres;
        font-size: 24px;
        margin: 1.5rem 1.5rem 0.5rem;
        color: $couleur-principale;
      }

      p {
        font-family: $police-principale;
        font-size: 16px;
        margin: 0 1.5rem 1.5rem;
        line-height: 1.5;
      }

      a.bouton-secondaire {
        margin: 0 1.5rem 2rem;
        display: inline-block;
      }
    }
  }

  @media (max-width: 768px) {
    .projets-container {
      flex-direction: column;
      align-items: center;
    }

    .projet {
      max-width: 100%;
    }
  }
}
