@use "../abstract/variables" as *;

.projets {
  padding: 6rem 2rem;
  background-color: $couleur-fond;
  color: $couleur-texte;
  text-align: center;

  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }

  .projets-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap; // Permet un retour à la ligne en 1024

    .projet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      border-radius: 12px;
      box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.08);
      max-width: 320px;
      overflow: hidden;
      transition: transform 0.3s ease;
      text-align: left;
      align-items: center;

      &:hover {
        transform: translateY(-8px);
      }

      img {
        width: 100%;
      }

      h3 {
        margin: 1.5rem 1.5rem 0.5rem;
      }

      p {
        margin: 0 1.5rem 1.5rem;
        line-height: 1.2; // Paragraphe plus concis
      }

      a.bouton-secondaire {
        margin: 0 1.5rem 2rem;
        display: inline-block;
      }
    }
  }

  @media (max-width: 768px) {
    .projets-container {
      flex-direction: column;
      align-items: center;
    }

    .projet {
      max-width: 100%;
    }
  }
}
