@charset "UTF-8";
@font-face {
  font-family: "Marcellus";
  src: url("../fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}
h1 {
  font-family: "Marcellus", serif;
  font-size: 48px;
  color: #167544;
}

h2 {
  font-family: "Marcellus", serif;
  font-size: 32px;
  color: #167544;
}

h3 {
  font-family: "Marcellus", serif;
  font-size: 24px;
  color: #167544;
}

body {
  background-color: #faf2e7;
  color: #244357;
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  line-height: 1.6;
}

a {
  font-size: 18px;
}

p {
  font-size: 18px;
}

small {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/* Plus de débordement de mes champs */
* {
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #faf2e7;
  position: relative;
}
.main-header .logo-burger {
  display: flex;
  align-items: center;
  gap: 40vw;
}
.main-header .logo {
  font-size: 32px;
}
.main-header .burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}
.main-header .burger span {
  width: 100%;
  height: 3px;
  background-color: #244357;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.main-header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.main-header nav ul li a {
  text-decoration: none;
  color: #244357;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  letter-spacing: 1px;
}
.main-header nav ul li a:hover {
  color: rgb(69.9804878049, 130.2414634146, 169.1195121951);
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-header .burger {
    display: flex;
  }
  .main-header nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1.3s ease-in-out, opacity 2s ease-in-out, padding-top 1.3s ease-in-out, padding-bottom 1.3s ease-in-out;
  }
  .main-header nav ul.open {
    max-height: 300px;
    opacity: 1;
    padding: 2rem 0;
  }
}

.hero {
  position: relative;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10vh;
  padding: 2rem;
}
.hero-overlay h1, .hero-overlay p {
  margin: 0;
}
.hero-overlay .hero-titres {
  display: flex;
  flex-direction: column;
}
.hero-overlay .hero-textes p {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #faf2e7;
  font-size: 34px;
  letter-spacing: 1px;
}
@media screen and (max-width: 360px) {
  .hero-overlay .hero-textes p {
    font-size: 29px;
  }
}

.a-propos {
  padding: 8rem 2rem;
  background-color: #faf2e7;
  color: #244357;
}
.a-propos .a-propos-container {
  display: flex;
  justify-content: center;
  gap: 15rem;
}
@media screen and (max-width: 768px) {
  .a-propos .a-propos-container {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
.a-propos .a-propos-photo img {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 10px 12px 8px rgba(0, 0, 0, 0.2);
}
.a-propos .a-propos-texte {
  max-width: 40rem;
}

.competences {
  text-align: center;
}
.competences .competences-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 34rem;
}
@media screen and (max-width: 1024px) {
  .competences .competences-container {
    gap: 0;
  }
}
@media screen and (max-width: 768px) {
  .competences .competences-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
.competences .competences-bloc {
  flex: 1;
  max-width: 400px;
}
.competences .competences-bloc ul.liste-competences {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.competences .competences-bloc ul.liste-competences li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100px;
}
.competences .competences-bloc ul.liste-competences li img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s cubic-bezier(1, 0.56, 1, 1), filter 0.3s ease;
}
.competences .competences-bloc ul.liste-competences li img:hover {
  transform: scale(1.1);
  filter: brightness(1.1) saturate(1.1);
}
.competences .competences-bloc ul.liste-competences li p {
  margin: 0;
}
.competences .competences-bloc ul.liste-competences li small {
  font-style: italic;
}
.competences .competences-bloc.vide {
  opacity: 0.5;
  font-style: italic;
}
.competences .competences-bloc.vide p {
  margin-top: 10rem;
}

.projets {
  padding: 6rem 2rem;
  background-color: #faf2e7;
  color: #244357;
  text-align: center;
}
.projets .projets-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.projets .projets-container .projet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.08);
  max-width: 320px;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: left;
  align-items: center;
}
.projets .projets-container .projet:hover {
  transform: translateY(-8px);
}
.projets .projets-container .projet img {
  width: 100%;
}
.projets .projets-container .projet h3 {
  margin: 1.5rem 1.5rem 0.5rem;
}
.projets .projets-container .projet p {
  margin: 0 1.5rem 1.5rem;
  line-height: 1.2;
}
.projets .projets-container .projet a.bouton-secondaire {
  margin: 0 1.5rem 2rem;
  display: inline-block;
}
@media (max-width: 768px) {
  .projets .projets-container {
    flex-direction: column;
    align-items: center;
  }
  .projets .projet {
    max-width: 100%;
  }
}

.contact-container {
  display: flex;
  justify-content: space-around;
  padding: 3rem 4rem;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
.contact-container .form-contact {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}
.contact-container .form-contact .form-group {
  position: relative;
  margin-bottom: 2.5rem;
  width: 100%;
}
.contact-container .form-contact .form-group label {
  position: absolute;
  top: -0.8rem;
  left: 1rem;
  padding: 0 0.5rem;
  background-color: #faf2e7;
  color: #244357;
  font-size: 0.9rem;
  z-index: 1;
}
.contact-container .form-contact .form-group input,
.contact-container .form-contact .form-group textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid rgb(90.7609756098, 149.2829268293, 187.0390243902);
  border-radius: 12px;
  background-color: #faf2e7;
  color: #244357;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  appearance: none;
  box-shadow: none;
}
.contact-container .form-contact .form-group input::placeholder,
.contact-container .form-contact .form-group textarea::placeholder {
  color: rgb(118.1341463415, 166.9024390244, 198.3658536585);
}
.contact-container .form-contact .form-group input:focus,
.contact-container .form-contact .form-group textarea:focus {
  outline: none;
  border-color: #167544;
}
.contact-container .form-contact .form-group textarea {
  resize: none;
}
.contact-container input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #faf2e7 inset !important;
  -webkit-text-fill-color: #244357 !important;
}
.contact-container .contact-socials {
  flex: 1;
  max-width: 300px;
  padding-top: 10rem;
  text-align: center;
}
.contact-container .contact-socials p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
.contact-container .contact-socials .icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 10rem;
}
.contact-container .contact-socials .icons a img {
  width: 60px;
  height: 60px;
  transition: transform 1s ease;
}
.contact-container .contact-socials .icons a img:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #faf2e7;
  color: #244357;
  text-align: center;
  padding: 2rem 1rem;
  border-top: 2px solid rgb(69.9804878049, 130.2414634146, 169.1195121951);
}

.reveal-item {
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: transform;
}

.reveal-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.bouton {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #167544;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 1s ease-in-out, background-color 1s ease-in-out;
  letter-spacing: 2px;
  will-change: transform;
}
.bouton:hover {
  background-color: #24bc6e;
  transform: scale(1.1);
}

.bouton-secondaire {
  padding: 0.75rem 0.5rem;
  color: #167544;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: color 1s ease;
  position: relative;
}
.bouton-secondaire::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #167544;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 1s ease, background-color 1s ease;
}
.bouton-secondaire:hover {
  color: #24bc6e;
}
.bouton-secondaire:hover::after {
  transform: scaleX(1);
  background-color: #24bc6e;
}

/*# sourceMappingURL=style.css.map */
